body {
  margin: 0;
  padding: 0;
  background-image: radial-gradient(50% 100%, #FFFFFF 3%, #EDEDED 100%);
  font-family: Lato, Helvetica, Arial;
}


/* Mobile first */
  body.v2-body{
    color: #5E5E5E;

    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    
  }
  .v2-tagline{
    display: none;
  }


  .v2-portfolio-link-desktop{
    display: none;
  }

.v2-main-container{
  background-image: linear-gradient(-180deg, #FFFFFF 3%, #F1F1F1 98%);
  padding: 15px;
}

.v2-header{
  font-size: 13vw;
  letter-spacing: 2.4vw;
  text-transform: uppercase;
}

.v2-subheader{
  font-size: 6vw;
  padding-top: 3vh;
  padding-bottom: 12vh;
}

.v2-text-med {
  font-size: 4.5vw;
  padding-bottom: 2vh;
}
.v2-icons img {
  padding: 2vw;
}

/* TODO: better vertical centering!!! */
.v2-portfolio-link{
  left: 0;
  right: 0;
  text-align: center;
  font-family: Lato;
  font-weight: 400 
  font-size: 16px;
  width: 100%;
  color: #1E1E1E;
  position: absolute;
  bottom: 0px;
  height: 10%;
  background: white;
  padding-top: 12%;
}

.v2-icons{
  opacity: 0.65;
  margin-bottom: 5vh;
}




/*TODO: [] min font size */
@media (min-width: 550px) {

  .v2-tagline{
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }


  body.v2-body{
    text-align: center;
    margin: 4vw;
    background: #FFF;
    color: #5E5E5E;
  }

  .v2-portfolio-link-desktop{
    display: block;
    margin-bottom: 14vh;
    margin-top: 2vw;
    font-size: 2vw;
  }
  .v2-portfolio-link-desktop div{
    color: #FF8058;
    font-size: 2.8vw;
  }


  .v2-icons img {
    padding: 2vw 1.2vw;
  }

  .v2-main-container{
    background: #F6F6F6;
    background-image: none;
    border: 1px solid #F2F2F2;
  }

  .v2-header{
    font-size: 5.2vw;
    letter-spacing: 0.5vw;
    margin-top: 10vh;
  }

  .v2-subheader {
    font-size: 2.8vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .v2-portfolio-link{
    display: none
  }



  .v2-socialy{
    background-image: linear-gradient(-178deg, #FFFFFF 0%, #F9F9F9 100%);
    box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.07);
    padding: 4vh 0vh;
    min-width: 450px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .v2-text-med {
    font-size: 2.4vw;
    padding-bottom: 2vh;
  }
}

/**************** LAPTOP *********************/
@media (min-width: 768px) {

  .v2-portfolio-link-desktop div{
    color: #FF8058;
    font-size: 2.2vw;
  }

  .v2-header{
    font-size: 4.8vw;
    letter-spacing: 0.5vw;
    margin-top: 10vh;
  }

  .v2-subheader {
    font-size: 2.5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .v2-text-med {
    font-size: 1.8vw;
    padding-bottom: 2vh;
  }

}


/*********************************************************************/
body.spacecandy{
  background-image: radial-gradient(100% 100%, #FFFFFF 100%, #FFF 100%);
}
.main-container{
  text-align: center;
  padding: 10px;
}

/*** PROJECT ***/
.project {
  width: 90%;
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.project.wide {
  max-width: 1140px;
}

.projects {

}
.projects-entry-title{
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.projects-entry-tags{
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.project-hero-img-static {
  width: 100%;
  max-width: 800px;
}
.project-hero-img-animated {
  width: 100%;
  max-width: 800px;
  display: none;
}




.text-left {
  text-align: left;
}
.project-title{
  font-family: Lato, Helvetica, Arial;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #5E5E5E;
  margin: 15px 0;
}

.project-subtitle {
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  color: #C2C8CB;
  line-height: 49px;
  text-transform: uppercase;
}
.project-name {
  /* Sticky Universe: */
  font-family: Lato;
  font-weight: 400;
  font-size: 20px;
  color: #444444;
  margin: 15px 0;
}

.project-hero-img {
  width: 100%;
  max-width: 800px;
}

.project-table-of-contents ul{
  padding: 0;
  list-style-type: none;
}

.project-table-of-contents li{
  padding: 8px 0;
}

.project-content-title {
font-family: Lato;
font-weight: 400;
font-size: 14px;
color: #818181;
text-transform: uppercase;
padding: 40px 0px 10px 0px;
}

/*** PROJECT **/

.content{
  display: inline-block;
  text-align: left;
}
.hero{
  font-family: Lato, Helvetica;
  font-size: 2.4em;
  color: #5E5E5E;
  letter-spacing: 0.3em;
  line-height: 1.1em;
  text-transform: uppercase;
}

.tagline {
  margin-top: 20px;
}

.subsection {
  margin-top: 40px;
}

.subsection-content{
  margin-top: 20px;
}

.subsection-content-item{
  transition: opacity  0.5s ease;
  opacity: 0.15;
  cursor: pointer;
  margin: 10px;
}

.subsection-content-item:hover{
  opacity: 1;
}
.subtitle {
  font-family: Lato;
  font-size: 20px;
  color: #444444;
}

.contact {
  font-size: 0.9em;
  color: #A7A7A7;
  unicode-bidi:bidi-override;
  direction:rtl;
}

.desc {
  margin-top: 20px;
}
.social {
  margin-top: 50px;
}

a.project-entry-link:link{
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none; /* no underline */
}

.project-entry-link{
  transition: 0.2s;
}
.project-entry-link:hover {
}

a:link{
  color: inherit;
}


a:visited{
  color: inherit;
}


li a:link {
  color: #888888;
}

/* visited link */
li a:visited {
  color: #D49736;
}

/* mouse over link */
li a:hover {
  color: #FF6E00;
}
/* selected link */
li a:active {
  color: #E0D6C7;
}

.centerly {
  max-width: 95%;
  margin: 0 auto;
  text-align: center;
}

.project-section {
  clear: both;
  padding-bottom: 30px;
}

/** PROJECT  **/
.projects-entry {
  margin-top: 30px;
}

.projects-entry-title {
  text-align: left;
  padding: 8px 0px;
}

.projects-entry-tags {
  text-align: right;
  padding: 4px 0px;
  font-size: 0.8em;
  font-family: Lato, Helvetica;
  font-weight: 300;
  font-style:italic;

}

.footer{
  min-height: 100px;
}

.portfolio-link{
  font-size: 20px;
  display: block;
  margin-top: 40px;
  transition: 0.3s;

}

.portfolio-link:link{
  color: #FF9B7C;
}
.portfolio-link:visited{
  color: #FF9B7C;
}
.portfolio-link:hover{
  color: #FF4F19;
}

.tube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center {
  text-align: center;
}


.clear {
  clear: both;
}
.imgs-3-hidden{
  display: none;
}


.hide-mobile{
  display: none;

}

@media (min-width: 550px) {


.hide-mobile{
  display: block;

}

  .imgs-3-hidden{
    float: left;
    display: inline-block;
    width: 31%;
    padding: 1%;

  }

  .imgs-3{
    float: left;
    display: inline-block;
    width: 31%;
    padding: 1%;

  }
  .img-2{
    float: left;
    display: inline-block;
    width: 48%;
    padding: 1%;
  }
  .content {
    margin-top: 50px;
  }
}
